<div class="container">
    <!-- LISTAR -->
    <ul class="list-group">
        <li *ngFor="let estadio of estadios" class="list-group-item">{{ estadio.descricao }} <button type="button" routerLink="estadio/alterar/{{estadio.id}}" class="btn btn-primary">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo estadio</button>

    <div *ngIf="boolPostForm">
        <form (ngSubmit)="onSubmit()">
            <input type="text" name="descricao" id="descricao" [(ngModel)]="estadio.descricao" required>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</div>
