<div class="container">
    <!-- LISTAR -->
    <ul class="list-group">
        <li *ngFor="let estadio of estadios" class="list-group-item d-flex justify-content-between">{{ estadio.descricao }} <button type="button" routerLink="/estadio/alterar/{{estadio.id}}" class="btn btn-primary">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo estadio</button>

    <div *ngIf="boolPostForm">
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-card">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex">
                        <label for="descricao">Descricao do estádio</label>
                        <input formControlName="descricao" type="text" name="descricao" id="descricao" [(ngModel)]="estadio.descricao" required>
                        <span class="error" *ngIf="form.controls.descricao.errors">
                            Este campo é obrigatório!
                        </span>
                    </div>
                </div>
                <input *ngIf="form.valid" class="my-submit-button" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>
