<div class="container">
    <!-- LISTAR -->
    <ul class="list-group">
        <li *ngFor="let time of times" class="list-group-item">{{ time.nome }} <button type="button" routerLink="time/alterar/{{time.id}}" class="btn btn-primary">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo time</button>

    <div *ngIf="boolPostForm">
        <div class="card">
            <form (ngSubmit)="onSubmit()" class="form-card">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label for="nome">Nome do time</label>
                        <input type="text" name="nome" id="nome" [(ngModel)]="time.nome" required>
                    </div>
                </div>
                <input class="my-submit-button" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>


