<h1 class="py-3 text-center">Alterar estadio do id: {{estadio.id}}</h1>

<div class="container my-3">
    <div class="card" style="width: 32rem; margin: auto; float: none;">
        <div class="card-body register-form">
            <form >
                <label for="nome">Nome do estádio: </label>
                <input name="nome" value="{{ estadio.descricao }}"class="form form-control" id="nome" [(ngModel)]="estadio.descricao" required><br><br>
                <button class="btn btn-danger" (click)="goBack()">Fechar sem salvar</button> 
                <button class="btn btn-success" (click)="alterar()">Salvar</button>
            </form>
        </div>
    </div>
</div>
