<div class="container">
    <!-- LISTAR -->
    <h1>Listar Apostas</h1>
    <ul class="list-group">
        <li *ngFor="let aposta of apostas" class="list-group-item d-flex justify-content-between">{{ aposta.descricao }} <button style="margin-left: auto;" type="button" routerLink="/aposta/alterar/{{aposta.id}}" class="btn btn-primary">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir nova aposta</button>

    <div *ngIf="boolPostForm">
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex">
                        <label for="descricao">Descrição da aposta</label>
                        <input formControlName="descricao" type="text" name="descricao" id="descricao" [(ngModel)]="aposta.descricao" required>
                        <span class="error" *ngIf="form.controls.descricao.errors">
                            Este campo é obrigatório!
                        </span>
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex">
                        <label for="valor">Valor da aposta</label>
                        <input formControlName="valor" [(ngModel)]="aposta.valor" type="number" name="valor" id="valor"  min="10" max="100" required>
                        <span class="error" *ngIf="form.controls.valor.errors">
                            Valor inválido!
                        </span>
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label for="idCliente">Cliente</label>
                        <select formControlName="cliente" id="idCliente" name="idCliente" [(ngModel)]="aposta.idCliente">
                            <option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{cliente.nome}}</option>
                        </select>
                        <span class="error" *ngIf="form.controls.cliente.errors">
                            Este campo é obrigatório!
                        </span>
                    </div>


                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label  for="idSituacao">Situação aposta</label>
                        <select formControlName="situacao" id="idSituacao" name="idSituacao" [(ngModel)]="aposta.idSituacao">
                            <option *ngFor="let situacao of situacoes" value="{{situacao.id}}">{{situacao.descricao}}</option>
                        </select>
                        
                    </div>

                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label  for="partida">Partida</label>
                        <select formControlName="partida" (ngModelChange)="validar()" id="partida" name="partida" [(ngModel)]="partida.id">
                            <option att-validate *ngFor="let partida of partidas" value="{{partida.id}}">{{partida.descricao}}</option>
                        </select>
                        <span class="error" *ngIf="form.controls.partida.errors">
                            Este campo é obrigatório!
                        </span>
                    </div>

                    <div *ngIf="boolshowTimes" class="form-group col-sm-6 flex-column d-flex">
                        <label for="time">Quem vai ganhar?</label>
                        <select formControlName="time" [(ngModel)]="quemganha" id="time" name="time">
                            <option id="opt" att-validate *ngFor="let time of timesFiltrados; let i = index;" value="{{indicesTimePartida[i]}}" onchange="validar()">{{time.nome}}</option>
                            <option value="false">Empate</option>
                        </select>
                        <span class="error" *ngIf="form.controls.time.errors">
                            Este campo é obrigatório!
                        </span>
                    </div>
                    
                </div>
                <button type= "button" style="width: fit-content;" class="my-submit-button" (click)="validar()">Carregar times</button>

                <input *ngIf="form.valid" [disabled]="!form.valid" id="sbmit" class="my-submit-button" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>

<script>
    
</script>



