<div class="container">
    <!-- LISTAR -->
    <ul class="list-group">
        <li *ngFor="let situacao of situacaos" class="list-group-item">{{ situacao.descricao }} <button type="button" routerLink="situacao/alterar/{{situacao.id}}" class="btn btn-primary">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo situacao</button>

    <div *ngIf="boolPostForm">
        <div class="card">            
            <form (ngSubmit)="onSubmit()" class="form-card">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label for="descricao">Descrição da situação</label>
                        <input type="text" name="descricao" id="descricao" [(ngModel)]="situacao.descricao" required>
                    </div>
                </div>
                <input class="my-submit-button" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>
