<div class="container">
    <h2>Alterar partida do id: {{partida.id}}</h2>
    <form >
        <label for="descricao">Descricao da partida: </label>
        <input name="descricao" value="{{ partida.descricao }}"class="form form-control" id="descricao" [(ngModel)]="partida.descricao" required><br>
        <label class="form-label" for="estadio">Estadio:</label>
        <div class="form-group mb-3">
            <select name="estadio" id="estadio" class="form-select" [(ngModel)]="partida.id_estadio" required> 
                <option *ngFor="let estadio of estadios" value="{{estadio.id}}" selected name="estadio">{{estadio.nome}}</option>
            </select>
        </div>
        <label for="data">Data: </label>
        <input name="data" value="{{ partida.data }}"class="form form-control" id="data" [(ngModel)]="partida.data" required><br><br>
        <button class="btn btn-danger" (click)="goBack()">Fechar sem salvar</button> 
        <button class="btn btn-success" (click)="alterar()">Salvar</button>
    </form>
</div>