<div class="container">
    <!-- LISTAR -->
    <ul class="list-group">
        <li *ngFor="let partida of partidas" class="list-group-item d-flex justify-content-between">{{ partida.descricao }} <button type="button" routerLink="/partida/alterar/{{partida.id}}" class="btn btn-primary">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir nova partida</button>

    <div *ngIf="boolPostForm">
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-card">
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex">
                        <label for="descricao">Descrição da partida</label>
                        <textarea formControlName="descricao" name="descricao" id="descricao" [(ngModel)]="partida.descricao" maxlength="255" required></textarea>
                        <span class="error" *ngIf="form.controls.descricao.errors">
                            Este campo é obrigatório!
                        </span>
                    </div>
                </div>
                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label for="data">Data da partida</label>
                        <input type="date" name="data" id="data" [(ngModel)]="partida.data" required>
                    </div>
                    <div class="form-group col-sm-6 flex-column d-flex">
                        <label for="id_estadio">Estadio da partida</label>
                        <select id="id_estadio" name="id_estadio"[(ngModel)]="partida.id_estadio">
                            <option *ngFor="let estadio of situacoes" value="{{estadio.id}}">{{estadio.descricao}}</option>
                        </select>
                    </div>
                </div>
                <input *ngIf="form.valid" class="my-submit-button" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>




