<div class="container">
    <!-- LISTAR -->
    <ul class="list-group">
        <li *ngFor="let cliente of clientes" class="list-group-item">{{ cliente.nome }} <button type="button" routerLink="cliente/alterar/{{cliente.id}}" class="btn btn-primary">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo cliente</button>

    <div *ngIf="boolPostForm">
        <form (ngSubmit)="onSubmit()">
            <input type="text" name="nome" id="nome" [(ngModel)]="cliente.nome" required>
            <input  class="my-submit-button" type="submit" value="Cadastrar">
        </form>
    </div>
</div>



