<h1 class="py-3 text-center">Alterar situação do id: {{situacao.id}}</h1>

<div class="container my-3">
    <div class="card" style="width: 32rem; margin: auto; float: none;">
        <div class="card-body register-form">
            <form >
                <label for="descricao">Descricao da situacao: </label>
                <input name="descricao" value="{{ situacao.descricao }}"class="form form-control" id="descricao" [(ngModel)]="situacao.descricao" required><br><br>
                <button class="btn btn-danger" (click)="goBack()">Fechar sem salvar</button> 
                <button class="btn btn-success" (click)="alterar()">Salvar</button>
            </form>
        </div>
    </div>
</div>